{% extends "app1/base.html" %}

{% block content %}
    <a href="{% url 'select_schedule' %}" class="govuk-back-link">Back</a>
    <br>

    {% if error %}
        <p class="govuk-error-message">{{ error }}</p>
    {% endif %}

    <form method="POST" action="{% url 'select_section' %}">
        {% csrf_token %}

        <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--m">
                <h2 class="govuk-fieldset__heading">Select a section</h2>
            </legend>

            {% if sections %}
                <div class="govuk-radios">
                    {% for section_id, section_name in sections.items %}
                        <div class="govuk-radios__item">
                            <input class="govuk-radios__input" id="option{{ forloop.counter }}" name="selected_section" type="radio" value="{{ section_id }}">
                            <label class="govuk-label govuk-radios__label" for="option{{ forloop.counter }}">
                                {{ section_name }}
                            </label>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p class="govuk-body">No sections available.</p>
            {% endif %}
        </fieldset>
        <br>
        <button type="submit" class="govuk-button">Continue</button>
    </form>
{% endblock %}
