{% extends "app1/base.html" %}

{% block content %}

<ul class="govuk-task-list">
  {% for item in progress %}
  <li class="govuk-task-list__item govuk-task-list__item--with-link">
    <div class="govuk-task-list__name-and-hint">
      <a class="govuk-link govuk-task-list__link" href="{{ item.href }}">
        {{ item.name }}
      </a>
    </div>
    <div class="govuk-task-list__status">
      <strong class="govuk-tag govuk-tag--blue">
        {{ item.status }}
      </strong>
    </div>
  </li>
  {% endfor %}
</ul>


{% endblock %}
