{% extends "app1/base.html" %}

{% block content %}

<legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
    {{ name }}
</legend>

{% if records == 0 %}

    <p class="govuk-body">No records entered so far.</p>

    <a href="{% url 'question_router' first_question %}" class="govuk-button" data-module="govuk-button">
        Add a record
    </a>

    <p><a href="{% url 'select_section' %}" class="govuk-link">Continue without adding records</a></p>

{% else %}

    <p class="govuk-body">You have entered {{ records }} record{{ records|pluralize }}.</p>

    {% for label, total in summary_totals %}
        <p class="govuk-body">The total for {{ label }} is £{{ total|floatformat:2 }}</p>
    {% endfor %}

    <a href="{% url 'question_router' first_question %}" class="govuk-button" data-module="govuk-button">
        Add another record
    </a>

    <p>
        <a href="{% url 'table_details' %}" class="govuk-link">View or amend existing records</a><br>
        <a href="{% url 'select_section' %}" class="govuk-link">Continue to next section</a>
    </p>

{% endif %}

{% endblock %}
