{% extends "app1/base.html" %}

{% block content %}
    <a href="{{ previous_question_url }}" class="govuk-back-link">Back</a>
    <br>
    <!-- any guidance -->
    {% if guidance %}
        {{ guidance|safe }}
    {% endif %}

    <form method="POST" action="{% url 'process_answer' question_id=question_id %}">
        {% csrf_token %}

        <!-- the question itself -->
        <label class="govuk-label govuk-label--l" for="more-detail">
            {{ question_text }}
        </label>

        <!-- any hint -->
        {% if hint %}
            <p class="govuk-hint">{{ hint|safe }}</p>
        {% endif %}

        <!-- the space for an answer -->
        <textarea class="govuk-textarea" id="more-detail" name="question" rows="5" aria-describedby="more-detail-hint">{{ previous_answer }}</textarea>
        <br><br>
        <button type="submit" class="govuk-button">Continue</button>

    </form>

{% endblock %}

