{% extends "app1/base.html" %}

{% block content %}
    <a href="{{ previous_question_url }}" class="govuk-back-link">Back</a>
    <br>
    <!-- any guidance -->
    {% if guidance %}
        {{ guidance|safe }}
    {% endif %}

    <form method="POST" action="{% url 'process_answer' question_id=question_id %}">
        {% csrf_token %}

        <fieldset class="govuk-fieldset">

            <!-- the question -->
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
                <h1 class="govuk-fieldset__heading">{{ question_text }}</h1>
            </legend>

            <!-- any hint (asked once, above all the radio buttons) -->
            {% if hint %}
                <p class="govuk-hint">{{ hint|safe }}</p>
            {% endif %}

            <select class="govuk-select" id="sort" name="sort">
                {% for option in options %}
                <option value="published">Recently published</option>
                <option value="updated" selected>Recently updated</option>
                <option value="views">Most views</option>
                <option value="comments">Most comments</option>
                {% for option in options %}
                  <option value="comments">{{ option }}</option>
                {% endfor %}
              </select>

        </fieldset>
        <br>
        <button type="submit" class="govuk-button">Continue</button>
    </form>

{% endblock %}