{% extends "app1/base.html" %}

{% block content %}
    <a href="{% url 'user_login' %}" class="govuk-back-link">Back</a>
    <br>

    {% if error %}
        <p class="govuk-error-message">{{ error }}</p>
    {% endif %}

    <p>Some intro text, and idc summary data, etc etc<br><br>

    <p> Start your application here, providing information about yourself and your circumstances</p><br>
    <a href="{% url 'select_schedule' %}" class="govuk-button" role="button">
    Start
</a>

{% endblock %}
